* {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #301934;
  color: #fff;
  padding-inline: 45px;
  border-bottom: 1px solid purple;
}

.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-brand {
  font-size: 1.8rem;
  margin-right: 20px;
  color: #fff !important;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: #fff !important;
  text-decoration: none;
  margin-left: 20px;
}
.navbar-link:hover {
  color: #cf6d1d !important;

  text-decoration: underline;
}
